@import url('https://fonts.googleapis.com/css?family=Raleway');
html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Raleway";
}

.navbar{
 background:#F97300;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
 border-radius: 10px; 
 box-shadow: 0 0 4px 2px #fff; /* Параметры свечения */
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/*header style*/
.header{
 position: relative;
 background-image: url('../img/headerback.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.60);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}
/*splitter*/
.splitter{
	height:56px;
}
/*about*/
.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 100%;
 width: 100%;
 border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}
/*consulting*/
.consulting{
 margin: 4em 0;
    position: relative; 
}
.consulting h1{
 color:#F97300;
 margin: 2em; 
}
.consulting img{
  height: 15rem;
  width: 100%;
  margin: 1em;
}
/*courses*/
.courses{
 margin: 4em 0;
 position: relative; 
}
.courses h1{
 color:#F97300;
 margin: 2em; 
}
.courses .card{
 box-shadow: 0 0 20px #ccc;
}
.courses .card img{
 width: 100%;
 height: 12em;
}
.courses .card-title{
 color:#F97300;
  
}
.courses .card-body{
 padding: 1em;
}
/*books*/
.books{
 margin: 4em 0;
 position: relative;  
}
.books h1{
 color:#F97300;
 margin: 2em; 
}
.books .item{
 position: relative;
}
.books .des{
 background: #F97300;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 20%;
 border-bottom-right-radius: 20%;
 transition:.3s ease-in-out;
}
.books .item:hover .des{
 height: 100%;
 background:#f973007d;
 position: absolute;
 width: 90%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}